.cw-nav {
    padding: 20px 0;

    &__panel {
        display: inline-block;
        float: right;
        text-align: center;
        width: 100%;
        margin-top: 20px;

        @media (max-width: 767px) {
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
        }

        
        @media (min-width: 768px) {
            margin-top: auto;
            width: auto;
        }

        &__item {
            display: inline-block;
            margin: 13px 6px;
            text-align: center;
            cursor: pointer;

            @media (max-width: 992px) {
                margin-left: auto;
                display: block;
                width: 20px;
            }

            @media (min-width: 992px) {
                display: inline-block;
                margin: 0 6px;
            }
            
            @media (min-width: 1024px) {
                margin: 0 15px;
            }
        }

        &__label {
            position: relative;

            &::after {
                position: absolute;
                top: -7px;
                right: -14px;
                border-radius: 50%;
                width: 20px;
                height: 17px;
                font-size: 11px;
                padding-top: 4px;
                color: $white;
            }

            &--wishlist {
                &::after {
                    content: attr(data-wishlist);
                    background: $secondary;
                }
            }

            &--cart {
                &::after {
                    content: attr(data-cart);
                    background: $primary;
                }
            }
        }
    }

    &__menu {
        display: inline-block;
        width: 100%;
        
        @media (max-width: 767px) {
            opacity: 0;
            position: relative;
            transform: translateY(-100%);
            transition: transform .5s, opacity .5s, z-index .5s;

            &.active {
                opacity: 1;
                transform: translateY(0);
                z-index: 9999;
            }
        }


        @media (min-width: 768px) {
            width: auto;

            &--left {
                flex-flow: row;
            }
        }

        

        &__item {
            display: block;
            text-align: center;
            padding: 5px 5px;
            color: #fff;
            margin: 7px 0;
            text-transform: uppercase;
            font-size: 11px;
            position: relative;

            a {
                color: #fff;
                text-decoration: none;
            }

            &--dropdown {
                background: url('../svg/breadcrumbs\ arrow.svg') no-repeat;
                background-position: 100%;
                width: 80px;
                margin: auto;
                display: block;

                &:hover {
                    background: url('../svg/breadcrumbs\ arrow\ active.svg') no-repeat;
                    background-position: 100%;

                    a {
                        color: $primary;
                    }
                }

                @media (min-width: 768px) {
                    background-position: 100%;
                }
            }
            @media (min-width: 768px) {
                margin: auto;
                display: inline-block;
            }
            
            @media (min-width: 992px) {
                padding: 5px 10px;
            }

            @media (min-width: 1024px) {
                font-size: 12px;
            }

            @media (min-width: 1280px) {
                font-size: 16px;
                padding: 5px 15px;
            }

            @media (min-width: 1600px) {
                padding: 5px 40px;
            }
        }
    }
    

    &__logo {
        margin: 0 25px 0 0;
        text-align: left;
        width: auto;
        float: left;
    }

    &__dropdownList {
        position: absolute;
        display: flex;
        left: 0;
        right: 0;
        transform: translateX(-100%);
        width: 100%;    
        top: 80px;
        max-width: 90%;
        margin-right: auto; 
        padding-left: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: -1;
        color: $white;
        background: linear-gradient(to right, rgba(255,255,255,0.35) 0%, rgba(255,255,255,0) 55%);
        text-transform: uppercase;
        opacity: 0;
        transition: opacity .4s, z-index .4s, transform .6s;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        &.active {
            opacity: 1;
            z-index: 99999;
            transform: translateX(0);
        }

        div {
            padding-right: 20px;
            margin: 4px 0;
            width: auto;
            max-width: 100px;

            @media (min-width: 768px) {
                margin: 0 15px;
                max-width: unset;
            }

            a {
                color: $white;
                text-decoration: none;

                @media (max-width: 767px) {
                    font-size: 10px;
                }
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__separator {

        @media (max-width: 768px) {
            display: none;
        }
    }
}