.cw-textBlock {
    background: $white;
    position: relative;
    padding: 20px;
    box-shadow: 1px 15px 56px -13px darken($gray, 15%);


    h3, button {
        text-transform: uppercase;
    }

    &__container {
        position: relative;
        max-height: 195px;
        overflow: hidden;
        transition: max-height .3s;

        &.active {
            max-height: 500px;
        }
    }

    &__overlay {
        height: 100%;
        background: linear-gradient(to bottom,rgba(255,255,255,0) 60% ,rgba(255,255,255,.9) 100%);
        z-index: 9;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;

        &.invisible {
            position: static;
        }
    }

    @media (min-width: 992px) {
        position: absolute;
        padding: 50px;
    }

    &--long {

        @media (min-width: 992px) {
            max-width: 450px;
            top: 160px;
            left: 100px;
        }

        @media (min-width: 1200px) {
            max-width: 600px;
            top: 160px;
            left: 100px;
        }

        @media (min-width: 1600px) {
            max-width: 750px;
            top: 140px;
            left: 140px;
        }
    }

    @media (min-width: 992px) {
        &--short {

            top: 50%;
            transform: translateY(-50%);
            max-width: 400px;
        }

        &--left {
            left: 0px;
        }

        &--right {
            right: 0px;
        }
    }

    @media (min-width: 1200px) {
        &--short {
            max-width: 500px;
        }

        &--left {
            left: 70px;
        }

        &--right {
            right: 70px;
        }
    }

    @media (min-width: 1600px) {
        &--left {
            left: 170px;
        }

        &--right {
            right: 170px;
        }
    }
}